<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>nyanbook</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
   
    <div class="container">
     <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="left">
                <p class="greeting">Facebookを使うと、友達や同僚、同級生、仲間たちとつながりを深められます。
                   <br>ケータイ、スマートフォンからもアクセスできます。</p>
        </div>
         <div class="col-md-4 col-sm-12">
               <img class="icon" src="<%= asset_path "icon.png" %>">
        </div>
        </div>
        </div>
     </div>
     <div class="row">
         <div class="col-md-4 col-sm-12">
          <div class="main">
         </div>
      </div>
     </div>
    </div>

    
</body>
</html>